# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs and databases
*.log
*.sqlite
*.db

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
